header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.logo-container {
  cursor: pointer;
}