<main>
    <img src="assets/img/login-page-background.jpeg" alt="" class="background">
    <div class="card">
      <h1>Login</h1>
      <form action="">
        <div class="form-field">
          <label for="email">Email Address</label>
          <input type="email" id="email">
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input type="password" id="password">
        </div>
        <div class="button-container">
          <button class="btn-main" type="submit">Log in</button>
        </div>
      </form>
      <div class="options-container">
        <a class="forgot-password" href="">Forgot password?</a>
        <div class="sign-up-bar">
          <p>New to Videoflix?</p>
          <a class="sign-up" href="">Sign Up now</a>
        </div>
      </div>
    </div>
</main>