<div class="toast-container" *ngIf="toastService.showToastMessage">
    <div class="error-container">
      <img src="assets/icons/exclamation.svg" alt="exclamation-mark-icon">
      <p class="error-message"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore consequuntur illo aperiam maxime necessitatibus minus. </p>
      <div class="close-button-container">
        <img src="assets/icons/close_small.svg" alt="close-button">
      </div>
    </div>
    <div class="error-button-container">
      <button class="btn-secondary">Click</button>
    </div>
</div>
