.toast-container {
  background-color: #2E3EDF;
  position: absolute;
  z-index: 10;
  border-top: 16px solid red;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 32px 24px;
  animation: slide-up 0.3s ease-out;
}

.error-container {
  color: white;
}

.error-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .toast-container {
    animation: slide-right 0.3s ease-out;
  }
}