main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 -9.91%,
    rgba(0, 0, 0, 0.55) 54.3%,
    #000000 98.36%
  );
}

h1 {
  color: #2E3EDF;
  font-size: 40px;
}

h1,
p {
  text-align: center;
}

span {
  color: #2E3EDF;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card {
  background-color: white;
  border-radius: 48px;
  padding: 43px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  z-index: 1;
}

.form-field {
  position: relative;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}