<main>
  <img src="assets/img/login-page-background.jpeg" alt="">
  <div class="card">
    <h1>Reset Password</h1>
    <form>
      <p>Create a new password for your <span>Videoflix</span> account.</p>
      <div class="form-field">
        <label for="password" class="label-main">Enter a password</label>
        <input class="input-main" type="password" id="password">
      </div>
      <div class="form-field">
        <label for="confirm" class="label-main">Confirm Password</label>
        <input type="password" class="input-main" id="confirm">
      </div>
      <div class="button-container">
        <button class="btn-main">Reset my password</button>
      </div>
    </form>
  </div>
</main>
