<main>
  <img src="assets/img/login-page-background.jpeg" alt="">
  <div class="card">
    <h1>Reset Password</h1>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <p>Create a new password for your <span>Videoflix</span> account.</p>
      
      <div class="form-field">
        <input formControlName="password" class="input-main" type="password" id="password" placeholder="">
        <label for="password" class="label-main">Enter a password</label>
        <p class="error" *ngIf="passwordControl?.invalid && passwordControl?.touched">
          <span *ngIf="passwordControl?.errors?.['required']">Password is required.</span>
          <span *ngIf="passwordControl?.errors?.['minlength']">Password must be at least 6 characters long.</span>
        </p>
      </div>
      
      <div class="form-field">
        <input formControlName="confirmPassword" class="input-main" type="password" id="confirm" placeholder="">
        <label for="confirm" class="label-main">Confirm Password</label>
        <p class="error" *ngIf="confirmPasswordControl?.invalid && confirmPasswordControl?.touched">
          <span *ngIf="confirmPasswordControl?.errors?.['required']">Please confirm your password.</span>
        </p>
        <p class="error" *ngIf="hasPasswordMismatch()">Passwords do not match.</p>
      </div>
      
      <div class="button-container">
        <button class="btn-main" type="submit" [disabled]="resetForm.invalid || isLoading">
          <span *ngIf="!isLoading">Reset my password</span>
          <span *ngIf="isLoading">Processing...</span>
        </button>
      </div>
    </form>
  </div>
  <app-toast-message *ngIf="toastService.showToastMessage"></app-toast-message>
</main>