<main>
  <img src="assets/img/signup-page-background.jpeg" alt="">
  <div class="card">
    <h1>Sign Up</h1>
    <form>
      <div class="form-field">
        <label class="label-main" for="email">Email Address</label>
        <input class="input-main" type="email" id="email">
      </div>
      <div class="form-field">
        <label class="label-main" for="password">Enter a password</label>
        <input class="input-main" type="password" id="password">
      </div>
      <div class="form-field">
        <label class="label-main" for="confirm">Confirm Password</label>
        <input class="input-main" type="password" id="confirm">
      </div>
      <div class="button-container">
        <button class="btn-main" type="submit">Get Started</button>
      </div>
    </form>
  </div>
</main>
