main {
  background-color: #141414;
  min-height: 100vh;
  padding-top: 80px; // For the fixed header
  color: white;
}

.video-page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.loading, .error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  
  p {
    font-size: 18px;
  }
}

.error {
  color: #ff5555;
}

.player-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; // 16:9 aspect ratio
  position: relative;
  margin-bottom: 24px;
  
  
  app-video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img.vjs-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.video-info {
  padding: 16px 0;
  
  h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  
  .description {
    margin-bottom: 16px;
    line-height: 1.5;
  }
  
  .genre, .upload-date {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 8px;
  }
}

.quality-selector {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  
  p {
    color: white;
    margin: 0;
    font-size: 16px;
  }
  
  .quality-buttons {
    display: flex;
    gap: 8px;
    
    button {
      background-color: #333;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.2s;
      
      &:hover {
        background-color: #444;
      }
      
      &.active {
        background-color: #2E3EDF;
      }
    }
  }
}