<main [class.landscape-mode]="videoService.isLandscape">
  <div class="video-page-container" [class.landscape-container]="videoService.isLandscape">
    <div *ngIf="loading" class="loading">
      <p>Loading video...</p>
    </div>
    
    <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div>
    
    <div *ngIf="!loading && !error && video" class="video-content" [class.landscape-content]="videoService.isLandscape">
      <div class="player-container" [class.landscape-player]="videoService.isLandscape">
        <app-video-player 
          [videoUrl]="getFullVideoUrl()" 
          [poster]="getFullThumbnailUrl()"
          [videoSources]="videoSources"
          [requestFullscreen]="requestFullscreen">
        </app-video-player>
      </div>      
      <div class="video-info" *ngIf="!videoService.isLandscape">
        <h1>{{ video.title }}</h1>
        <p class="description">{{ video.description }}</p>
      </div>
    </div>
  </div>
</main>