.btn-main {
  height: 48px;
  border-radius: 40px;
  padding: 12px 24px;
  color: white;
  background-color: #2e3edf;
  border: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: #525dde;
  }
  &:disabled {
    background-color: #959acf;
  }
}


.btn-secondary {
  height: 48px;
  background-color: white;
  color: #2e3edf;
  padding: 12px 24px;
  border-radius: 40px;
  font-size: 18px;
  border: none;
  font-weight: 700;
}
