.input-main {
  border-radius: 12px;
  border: 1px solid #2E3EDF;
  padding: 12px 24px;
  width: 100%;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: transparent;

  &:focus + label, &:not(:placeholder-shown) + label {
    top: 0px;
    left: 14px;
    background-color: white;
    padding: 0 4px;
    z-index: 1;
    font-size: 12px;
  }
}

.label-main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  color: #2E3EDF;
  z-index: 0;
  transition: all 0.3s ease;
}