main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: #141414;
  gap: 8px;
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 20px;
}

h4 {
  padding-left: 4px;
}

.video-cat {
  padding-left: 4px;
}

.new {
  padding-left: 4px;
}

.thumbnail-item {
  position: relative;
  cursor: pointer;
}

.thumbnail-title {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  background-color: #2E3EDF;
  border-radius: 8px;
  padding: 2px 4px;
  max-width: 150px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail {
  width: 150px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition: all 500ms ease;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 0 4px;
}

.preview-video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.thumbnail:hover {
  filter: brightness(0.7);
  scale: 1.02;
  border-radius: 8px;
}

.thumbnail-row-container {
  display: flex;
  gap: 12px;
  position: relative;
}

.video-category-container {
  padding: 0 24px;
  position: relative;
  z-index: 10;
  width: 100%;
}

.video-content-container {
  position: relative;
  top: 175px;
}

.video-preview {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}

.preview-thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.preview-thumbnail-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 -9.91%,
    rgba(0, 0, 0, 0.55) 54.3%,
    #000000 98.36%
  );
}

.preview-thumbnail-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #141414 100%);
  pointer-events: none;
  z-index: 3;
}

.preview-text,
.close-button {
  position: absolute;
}

.preview-text {
  bottom: 42px;
  left: 24px;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  font-size: 88px;
}

.scrollable-content {
  position: absolute;
  width: 100%;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-row {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }
}

.playbutton {
  display: flex;
  align-items: center;
  padding: 12px 24px 12px 18px;
}

.thumbnail-row-container::after {
  content: "";
  position: fixed;
  bottom: 61px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #141414 0%, rgba(20, 20, 20, 0) 50%);
  pointer-events: none;
  z-index: 5;
}

.mobile-video-info {
  background-color: #141414;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 11;
}

.mobile-thumbnail {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.mobile-thumbnail-container {
  position: relative;
}

.mobile-thumbnail-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; // Höhe des Verlaufs anpassen
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #141414 100%);
  pointer-events: none;
  z-index: 2;
}

.mobile-thumbnail-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #000000 -9.91%,
    rgba(0, 0, 0, 0.55) 54.3%,
    #000000 98.36%
  );
}

.mobile-video-text {
  color: white;
  h3 {
    font-size: 64px;
  }
}

.mobile-video-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 16px;
}


.scrollable-content.landscape {
  position: absolute;
  top: 80px;
  bottom: 20px;
  left: 0;
  right: 0;
  height: auto;
  transform: none;
  overflow-y: auto;
  padding-bottom: 100px;
}

.landscape .thumbnail-row-container::after {
  position: absolute;
  bottom: 0;
  height: 60px;
}

.landscape .video-category-container {
  margin-bottom: 16px;
}

.landscape h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.landscape .thumbnail {
  height: 80px;
  width: 150px;
}

.landscape-mobile {
  height: 180px;
}

@media (min-width: 992px) {
  .video-preview {
    position: fixed;
    display: block;
  }

  .scrollable-content {
    top: 325px;
    bottom: 64px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .thumbnail {
    height: 120px;
    width: 215px;
  }
}
