<main>
  <div class="mobile-video-info" *ngIf="videoService.isMobile && videoService.selectedVideo">
    <div class="mobile-thumbnail-container">
      <img [src]="videoService.selectedVideo.thumbnail" [class.landscape-mobile]="videoService.isLandscape" alt="Vorschaubild" class="mobile-thumbnail">
    </div>
    <div class="mobile-video-text">
      <div class="mobile-video-description">
        <h3>{{ videoService.selectedVideo.title }}</h3>
        <p> {{ videoService.selectedVideo.description }} </p>
      </div>
      <div class="button-container">
        <button (click)="playVideo(videoService.selectedVideo.id)" class="btn-main playbutton">
          <img src="assets/icons/play_arrow.svg" alt="">Play
        </button>
      </div>
    </div>
  </div>
  <div class="video-preview" *ngIf="!videoService.isMobile && videoService.selectedVideo">
    <div class="preview-content">
      <div class="preview-thumbnail-container">
        <!-- <img
          [src]="selectedVideo.thumbnail"
          alt="Vorschaubild"
          class="preview-thumbnail"
        /> -->
        <video 
        [src]="getVideoPreviewUrl(videoService.selectedVideo)"
        class="preview-video"
        autoplay
        muted
        loop
        #previewVideo>
      </video>
      </div>
      <div class="preview-text">
        <h2>{{ videoService.selectedVideo.title }}</h2>
        <p>{{ videoService.selectedVideo.description }}</p>
        <div class="button-container">
          <button (click)="playVideo(videoService.selectedVideo.id)" class="btn-main playbutton"><img src="assets/icons/play_arrow.svg" alt="">Play</button>
        </div>
      </div>
    </div>
  </div>

  <div class="scrollable-content" [class.mobile]="videoService.isMobile" [class.landscape]="videoService.isLandscape">
    <div class="video-category-container" *ngIf="getRecentVideos().length">
      <h1>New on Videoflix</h1>
      <div class="thumbnail-row-container new">
        <div class="scrollable-row">
          <div class="thumbnail-item" *ngFor="let video of getRecentVideos()">
            <h4 class="thumbnail-title"> {{ video.title }} </h4>
            <img
              [src]="video.thumbnail"
              [alt]="video.title"
              class="thumbnail"
              (click)="selectVideo(video)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="video-category-container" *ngFor="let cat of categories">
      <h1 class="video-cat">{{ cat }}</h1>
      <div class="thumbnail-row-container">
        <ng-container *ngIf="getVideosByCategory(cat).length; else noVideos">
          <div class="scrollable-row">
            <div class="thumbnail-item" *ngFor="let video of getVideosByCategory(cat)">
              <h4 class="thumbnail-title"> {{ video.title }} </h4>
              <img                
                [src]="video.thumbnail"
                [alt]="video.title"
                class="thumbnail"
                (click)="selectVideo(video)"
              />
            </div>
          </div>
        </ng-container>
        <ng-template #noVideos>
          <p>Keine Videos in dieser Kategorie.</p>
        </ng-template>
      </div>
    </div>
  </div>
</main>
