footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 48px;
  left: 0;
  right: 0;
}

ul {
  display: flex;
  gap: 48px;
  li {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
