footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 32px;
  left: 0;
  right: 0;
  z-index: 5;
}

.footer-main-page {
  justify-content: center;
  right: 24px;
  bottom: 12px
}

ul {
  display: flex;
  gap: 48px;
  li {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
  }  
}

@media (min-width: 992px) {
  .footer-main-page {
    justify-content: flex-end;
  }
}
