<main>
  <img src="assets/img/home-page.jpeg" alt="" class="background" />
  <div class="hero">
    <div class="hero-text">
      <h1>Movies, TV shows and more</h1>
      <h3>Watch whenever you want wherever you want</h3>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="checkUser()">
      <p>Enter your email to create an account. </p>
      <div class="form-field">
        <input formControlName="email" type="email" id="email" placeholder='Email address' />
      </div>
      <div class="button-container">
        <button class="btn-main" type="submit" [disabled]="!emailForm.valid">
          Sign up <img src="assets/icons/chevron_right.png" alt="" />
        </button>
      </div>
    </form>
  </div>
  <app-toast-message *ngIf="toastService.showToastMessage"></app-toast-message>
</main>
