@use '../public/assets/fonts/dm-sans';
@use './app/shared/styles/buttons';
@use './app/shared/styles/input';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}